/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-attachment: fixed;
  font-size: 14px;
}

.container {
position:relative;
width: 100%;
}

.history {
  float:left;
  max-width: 400px;
  background: white;
  font-size: x-small;
  width:15%;
}

.ct-chart {
  display: block;
  position: relative;
  width: auto !important;
  min-width: 500px;
  margin-left: 250px;
  margin-right:50px;
}



ul {
  margin: 0;
  padding: 0;
  background: white;
}

li {
  position: relative;
  list-style: none;
  padding: 5px;
  border-bottom: #eee solid 1px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
}
